* {
    padding: 10px;
    /* width: 960px; */
    margin: 0 auto;

}

body{
    background: url('../images/buffyBackground.jpg');
    margin-left: 50px;
    color: aliceblue;
}
/* 
#yourCharacter,
#enemiesAvailable,
#fightSection,
#defender {
    width: 100%;
} */

#allCharacters {
    width: fit-content;
    height: 175px;
}

.characterCards {
    border: solid 1px purple;
    padding: 20px 5px 20px 5px;
    text-align: center;
    width: fit-content;
    height: 150px;
    float: left;
    margin: 10px;
    padding-top: 0;
    padding-bottom: 0;

    background: white;
    color: black;
}

